<div class="learning-skills-chart">

  <div class="learning-skills-chart-skill">
    Responsibility
  </div>
  <ul class="learning-skills-chart-skill-description">
    <li>
     takes responsibility for and manages own behaviour.
    </li>
    <li>
     completes and submits class work, homework, and assignments according to agreed-upon timelines;
    </li>
    <li>
     fulfils responsibilities and commitments within the learning environment;
    </li>
  </ul>

  <div class="learning-skills-chart-skill">
    Organization
  </div>
  <ul class="learning-skills-chart-skill-description">
    <li>
      devises and follows a plan and process for completing work and tasks;
    </li>
    <li>
      establishes priorities and manages time to complete tasks and achieve goals;
    </li>
    <li>
      identifies, gathers, evaluates, and uses information, technology, and resources to complete tasks.
    </li>
  </ul>

  <div class="learning-skills-chart-skill">
    Independent Work
  </div>
  <ul class="learning-skills-chart-skill-description">
    <li>
      independently monitors, assesses, and revises plans to complete tasks and meet goals
    </li>
    <li>
      uses class time appropriately to complete tasks
    </li>
    <li>
      follows instructions with minimal supervision
    </li>
  </ul>

  <div class="learning-skills-chart-skill">
    Collaboration
  </div>
  <ul class="learning-skills-chart-skill-description">
    <li>
      accepts various roles and an equitable share of work in a group
    </li>
    <li>
      responds positively to the ideas, opinions, values, and traditions of others
    </li>
    <li>
      builds healthy peer-to-peer relationships through personal and media-assisted interactions
    </li>
    <li>
      works with others to resolve conflicts and build consensus to achieve group goals
    </li>
    <li>
      shares information, resources, and expertise and promotes critical thinking to solve problems and make decisions
    </li>
  </ul>

  <div class="learning-skills-chart-skill">
    Initiative
  </div>
  <ul class="learning-skills-chart-skill-description">
    <li>
      looks for and acts on new ideas and opportunities for learning
    </li>
    <li>
      demonstrates the capacity for innovation and a willingness to take risks
    </li>
    <li>
      demonstrates curiosity and interest in learning
    </li>
    <li>
      approaches new tasks with a positive attitude
    </li>
    <li>
      recognizes and advocates appropriately for the rights of self and others
    </li>
  </ul>

  <div class="learning-skills-chart-skill">
    Self-regulation
  </div>
  <ul class="learning-skills-chart-skill-description">
    <li>
      sets own individual goals and monitors progress towards achieving them
    </li>
    <li>
      seeks clarification or assistance when needed
    </li>
    <li>
      assesses and reflects critically on own strengths, needs, and interests
    </li>
    <li>
      identifies learning opportunities, choices, and strategies to meet personal needs and achieve goals
    </li>
    <li>
      perseveres and makes an effort when responding to challenges
    </li>
  </ul>

</div>
