<div id="course-guide">
  <div id="course-guide-sample">
    <a href="{{course_guide_link}}">
      <img src="{{course_guide_sample}}">
    </a>
  </div>
  <div id="course-guide-description">
    <h3>Course Materials</h3>
    <p>
      We're confident that our courses are the only ones of their kind in Ontario. Since they're so unique,
      people often have lots of questions.  If you want to "look behind the curtain," this document contains
      all of the assignments for the course.
    </p>
    <p>
      While we are a private school, we also want to help as many learners as possible.
      If you want to learn on your own (without the AI components or support from OCT-certified teachers),
      you can still meet all of the curriculum requirements for CHC 2D or 2P with this package.  If you're
      using these materials to homeschool, let us know on social media!
    </p>
  </div>
</div>
