<footer>

  <div id="footer-left">
    <div id="footer-logos">
    <h2>We Use</h2>
      <div id="footer-logo-images">
        <img src="{{ images_url }}/google-workspace.webp" alt="Google Workspace for Education logo" loading="lazy">
        <img src="{{ images_url }}/canva.webp" alt="Canva logo" loading="lazy">
      </div>
    </div>

    <div id="footer-social-links">
      <a href="https://www.instagram.com/asyncacademy/" target="_blank"><img src="{{ images_url }}/instagram.svg" alt="instagram logo" loading="lazy"></a>
      <a href="https://www.facebook.com/profile.php?id=61552145979861" target="_blank"><img src="{{ images_url }}/facebook.webp" alt="facebook logo" loading="lazy"></a>
      <a href="https://www.tiktok.com/@asyncacademy" target="_blank"><img src="{{ images_url }}/tiktok.webp" alt="tiktok logo" loading="lazy"></a>
    </div>

  </div>

  <div id="footer-center">
    <p class="footer-description">Asynchronous Academy is inspected by the Ontario Ministry of Education (BSID 665288).  All of our courses lead to the same credits as a public high school.</p>
    <div>
      <p id="footer-center-copyright" class="footer-description">©2025 Asynchronous Academy. All rights reserved</p>
    </div>
  </div>

  <div id="footer-right">
    <h2>Links</h2>
    <ul>
      <li><a href="/policies#faq">FAQ</a></li>
      <li><a href="/policies#policies">Site Policies</a></li>
    </ul>
  </div>

  <div id="footer-bottom">
    <p class="footer-description">©2025 Asynchronous Academy. All rights reserved</p>
  </div>

</footer>
