<header>
  <div id="header-logo">
    <a href="/">
      <span class="highlight2">Asynchronous</span> Academy
    </a>
  </div>
  <nav>
    <ol>
      <li>
        <a href="/courses">Courses</a>
      </li>
      <li>
        <a href="/faq">F.A.Q.</a>
        <ol>
          <li>
            <a>Students</a>
          </li>
          <li>
            <a>Parents</a>
          </li>
        </ol>
      </li>
      <li>
        <a href="/about">About Us</a>
        <ol>
          <li>
            <a href="/why-asynchronous-academy">Why AA?</a>
          </li>
          <li>
            <a>Thing2</a>
          </li>
        </ol>
      </li>
    </ol>
  </nav>
  <div id="header-contact-area">
    <button>Start Now!</button>
  </div>
</header>
